/* Base theme */
body {
  background: var(--color-background-body);
  color: var(--color-text-body);
  font-family: var(--font-primary);
  font-size: var(--step-0);
  line-height: var(--leading-normal);
}

:where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-text-heading);
  font-family: var(--font-headings);
  font-weight: var(--font-headings-weight);
}

a:not(.btn, .logo) {
  color: var(--color-link-text);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-link-underline);
  transition: all 0.2s ease-in-out;
}

a:not(.btn, .logo):hover {
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-link-underline-hover);
  color: var(--color-link-text-hover);
}
