.site-footer {
  border-top: 1px solid var(--color-border);
  position: relative;
  margin-block-start: var(--space-xl);
  padding-block-start: var(--space-xl);
  padding-block-end: var(--space-s);

  & a:not(.subfooter a) {
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--color-link-underline-hover);
    }
  }

  & .small-title {
    font-weight: 900;
    margin-block-end: var(--space-xs);
  }

  & .flow {
    --flow-space: var(--space-2xs);
  }

  & .grid {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    margin-block-end: var(--space-2xl);

    /* & > :first-child {
      justify-self: center;
    } */
  }

  & .subfooter {
    font-size: var(--step--1);

    &.cluster {
      --cluster-justify: space-between;
    }
  }

  /* svg background wrapper */
  & .background[aria-hidden="true"] {
    display: flex;
    position: absolute;
    z-index: -1;
    bottom: 0;
    inset-inline: 0;
    mask-image: linear-gradient(to top, black, transparent);

    & svg {
      width: 100%;
      opacity: var(--background-element-opacity);
    }
  }

  /* class on svg */
  & .logo {
    & .background {
      fill: var(--color-logo-background);
    }

    & .lines {
      stroke: var(--color-logo-lines);
    }

    & .text {
      fill: var(--color-logo-text);
    }
  }

  /* class on wrapper */
  & .footer-logo {
    display: block;
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    margin-block: 1rem;
    outline: 1px solid var(--color-logo-border);
    transition: all 0.2s ease;

    &:hover {
      outline-width: 2px;
      outline-offset: 3px;
      opacity: 0.85;
    }
  }
}

[data-theme="dark"] {
  .site-footer {
    & .background {
      display: none;
    }
  }
}

.cluster.social {
  --cluster-space: 0.75rem;

  & a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--rounded-corners-small);
    padding: 0.25rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-button-utility-background);
      color: var(--color-button-utility-text);
    }
  }
}

.settings {
  & .small-title:last-of-type {
    margin-block-start: var(--space-m);
  }
}

/* :is(.theme-buttons, .accent-buttons) {
  &.cluster {
    --cluster-space: 0.5rem;
  }

  & button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: var(--rounded-corners-small);
    border: none;
    transition: all 0.2s ease;
  }
}

.theme-buttons {
  & button {
    &:hover {
      background-color: var(--color-button-utility-background);
      color: var(--color-button-utility-text);
    }

    &.active {
      background-color: var(--color-button-utility-background);
    }
  }
}

.accent-buttons {
  & button {
    &[title="Printer's Red Accent"] {
      border: 1px solid var(--color-red-500);
      color: var(--color-red-500);

      &:hover {
        background-color: var(--color-red-500);
        color: var(--color-red-100);
      }

      &.active {
        background-color: var(--color-red-500);
        color: var(--color-red-100);

        &:hover {
          background-color: color-mix(in srgb, var(--color-red-500), black 10%);
        }
      }
    }

    &[title="Dodger Blue Accent"] {
      border: 1px solid var(--color-blue-500);
      color: var(--color-blue-500);

      &:hover {
        background-color: var(--color-blue-500);
        color: var(--color-blue-100);
      }

      &.active {
        background-color: var(--color-blue-500);
        color: var(--color-blue-100);

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-blue-500),
            black 10%
          );
        }
      }
    }

    &[title="Dune Gold Accent"] {
      border: 1px solid var(--color-gold-500);
      color: var(--color-gold-500);

      &:hover {
        background-color: var(--color-gold-500);
        color: var(--color-gold-100);
      }

      &.active {
        background-color: var(--color-gold-500);
        color: var(--color-gold-100);

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-gold-500),
            black 10%
          );
        }
      }
    }

    &[title="Malachite Green Accent"] {
      border: 1px solid var(--color-green-500);
      color: var(--color-green-500);

      &:hover {
        background-color: var(--color-green-500);
        color: var(--color-green-100);
      }

      &.active {
        background-color: var(--color-green-500);
        color: var(--color-green-100);

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-green-500),
            black 10%
          );
        }
      }
    }

    &[title="Mallow Purple Accent"] {
      border: 1px solid var(--color-purple-500);
      color: var(--color-purple-500);

      &:hover {
        background-color: var(--color-purple-500);
        color: var(--color-green-100);
      }

      &.active {
        background-color: var(--color-purple-500);
        color: var(--color-green-100);

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-purple-500),
            black 10%
          );
        }
      }
    }
  }
} */

@container contentWrapper (max-width: 768px) {
  .site-footer {
    & .grid {
      grid-template-columns: 1fr;
      gap: var(--space-xl);
      justify-items: center;
      text-align: center;
    }

    & .flow {
      --flow-space: var(--space-s);
    }

    & .subfooter {
      text-align: center;
      justify-content: center;

      & ul.cluster {
        --cluster-justify: center;
      }
    }
  }
}
