.site-header {
  --cluster-justify: space-between;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(6px);

  &::after {
    content: "";
    background: linear-gradient(
      to left,
      var(--color-light-border),
      var(--color-background-shade),
      var(--color-light-border)
    );
    z-index: -1;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    opacity: 0.6;
  }

  /*
  & nav {
    padding-inline-end: var(--space-2xl);
  }
  */

  & .cluster {
    --cluster-space: 2rem;
  }

  & .nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: var(--step-0);
    padding-block: 1.5rem;
    padding-inline: 0.5rem;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom: 1px solid var(--color-text-emphasis);
    }
  }
}
