.site-header {
  container: siteHeader / inline-size;
  --cluster-justify: space-between;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(6px);
  background: color-mix(in lch, var(--color-background-body), transparent 45%);

  &::after {
    content: "";
    background: var(--color-border);
    /*background: linear-gradient(
      to left,
      var(--color-light-border),
      var(--color-background-shade),
      var(--color-light-border)
    );*/
    z-index: -1;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    opacity: 0.6;
  }

  /*
  & nav {
    padding-inline-end: var(--space-2xl);
  }
  */

  /* & .cluster {
    --cluster-space: 1.5rem;
  } */

  & .nav-wrapper {
    align-items: flex-end;

    &.cluster {
      --cluster-space: 1.5rem;
    }
  }

  & .nav-content {
    &.cluster {
      --cluster-space: 1.5rem;
    }
  }

  /* class on svg */
  & .logo {
    & .background {
      fill: var(--color-logo-background);
    }

    & .lines {
      stroke: var(--color-logo-lines);
    }

    & .text {
      fill: var(--color-logo-text);
    }
  }

  /* class on wrapper */
  & .header-logo {
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
    margin-block: 1rem;
    outline: 1px solid var(--color-logo-border);
    transition: all 0.2s ease;

    &:hover {
      outline-width: 2px;
      outline-offset: 3px;
      opacity: 0.85;
    }
  }

  & .nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: var(--step-0);
    padding-block: 1.25rem;
    padding-inline: 0.5rem;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom: 1px solid var(--color-border-accent);
      color: var(--color-link-text-hover);
    }

    &[data-selected-page="selected"] {
      border-bottom: 1px solid var(--color-border-accent);
    }

    &.cluster {
      --cluster-space: 0.5rem;
      display: inline-flex;

      & svg {
        color: var(--color-icon);
      }
    }
  }

  .toggles {
    position: relative;
    top: 2px;

    &.cluster {
      --cluster-space: 0.5rem;
    }

    & details {
      position: relative;
    }

    & summary {
      position: relative;
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      font-family: var(--font-headings);
      font-size: var(--step--2);
      text-transform: uppercase;
      letter-spacing: var(--title-letter-spacing);
      font-weight: var(--font-headings-weight);
      cursor: pointer;
      padding: 0.25rem 0.5rem;
      border-radius: var(--rounded-corners-small);

      & .indicator {
        position: relative;
        top: -1px;
        width: 16px;
        height: 16px;
        border-radius: 999px;
        background: var(--indicator-background);
        border: 1px solid var(--indicator-outline);
        transition: all 0.3s ease-out;
      }

      &:hover {
        background-color: var(--color-button-utility-background);
      }

      & + div {
        position: absolute;
        padding: var(--space-xs);
        background: var(--color-background-body);
        border: 1px solid var(--color-border);
        border-radius: var(--rounded-corners-small);
        box-shadow: var(--shadow-light);
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    & :is(.theme-buttons, .accent-buttons) {
      --flow-space: 0.5rem;
    }

    .theme {
      & summary {
        --indicator-background: var(--color-background-body);
        --indicator-outline: var(--color-border);
      }
    }

    .accent {
      & summary {
        --indicator-background: var(--color-icon);
        --indicator-outline: transparent;
      }
    }
  }
}

@container siteHeader (max-width: 768px) {
  .site-header {
    & .nav-wrapper {
      &.cluster {
        --cluster-space: 0px;
      }
    }

    & .nav-content {
      &.cluster {
        --cluster-space: 0.25rem;
      }

      & ul {
        &.cluster {
          --cluster-space: 1rem;
        }
      }
    }

    & .nav-link {
      padding-block: 1rem;
    }
  }
}

@container siteHeader (max-width: 640px) {
  .site-header {
    & .nav-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    & .header-logo {
      margin-block-end: 0;
    }

    & .toggles {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}
