/* Headers & titles */
h1,
.h1 {
  font-size: var(--step-4);
}

h2,
.h2 {
  font-size: var(--step-3);
}

h3,
.h3 {
  font-size: var(--step-2);
}

:where(h1, h2, h3) {
  line-height: var(--leading-medium);
}

.small-title {
  font-size: var(--step--1);
  font-family: var(--font-headings);
  font-weight: 400;
  color: var(--color-text-heading);
  text-transform: uppercase;
  letter-spacing: 0.1rem; /* 0.15rem*/
}

.with-icon {
  &.cluster {
    --cluster-space: 0.5rem;
  }

  & svg {
    color: var(--color-icon);
  }

  /*& .small-title {
    color: var(--color-text-body-shade);
  }*/
}

/* Links */
a {
  color: var(--color-link-text);
}

a.button-link {
  color: var(--color-button-main-text);
  background-color: var(--color-button-main-background);
  border-radius: var(--rounded-corners);
  cursor: pointer;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  margin-block-start: 1.25rem;
  padding: 0.75rem 1rem;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  text-decoration: none;

  &:hover {
    background-color: color-mix(
      in lch,
      var(--color-button-main-background) 90%,
      black
    );
    color: var(--color-button-main-text);
  }

  & span {
    position: relative;
    top: -1px;
  }

  &.animate-arrow svg {
    transition: all 0.2s ease;
  }

  &.animate-arrow:hover svg {
    transform: translateX(2px);
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--lines, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.external-link + svg {
  position: relative;
  top: 1px;
  transition: all 0.2s ease;
}

.external-link:hover + svg {
  color: var(--color-icon);
  transform: translate(2px, -2px);
}

.paragraph-measure {
  max-width: var(--paragraph-measure);
}

.rich-content {
  & * {
    margin-block: 0;
  }

  & :is(h2, h3) {
    margin-block-start: var(--space-xl);
  }

  & :is(p, ul, blockquote, pre code) {
    margin-block-start: var(--space-m);
  }

  & :is(li) {
    margin-block-start: var(--space-s);
  }

  & h2 {
    font-size: var(--step-2);
  }

  & h3 {
    font-size: var(--step-1);
  }

  & ul {
    padding-inline-start: 1rem;
  }

  &.with-intro-text > p:first-of-type {
    font-size: var(--step-1);
  }

  & blockquote {
    position: relative;
    border-left: 2px solid var(--color-border-accent-light);
    padding-block: var(--space-s);
    padding-inline-start: var(--gutter);
    padding-inline-end: var(--space-m);
    color: var(--color-text-body-accent);
    background-color: var(--color-background-accent-light);
    border-top-right-radius: var(--rounded-corners-small);
    border-bottom-right-radius: var(--rounded-corners-small);

    & p {
      margin-block: 0;
    }

    & a {
      text-decoration-color: var(--color-link-underline-hover);
    }

    &::before {
      color: var(--color-background-accent-light);
      content: "“";
      left: calc((var(--gutter) * 0.5) * -1);
      background-color: var(--color-background-accent-dark);
      border-radius: 999px;
      width: 32px;
      height: 32px;
      padding: 2px;
      font-style: normal;
      display: inline-flex;
      position: absolute;
      font-family: "Georgia", serif;
      line-height: 0.45;
      align-items: flex-end;
      justify-content: center;
      font-size: 32px;
      overflow: hidden;
    }
  }

  & li {
    &::marker {
      color: var(--color-icon);
    }
  }
}

.tag,
.category {
  padding: 0.25rem 0.55rem 0.35rem;
  background: var(--color-tag-background);
  line-height: 1.15;
  text-decoration: none;
  font-size: var(--step--1);
  border: 1px solid var(--color-tag-border);
  border-radius: var(--rounded-corners-small);

  &:hover {
    background: var(--color-tag-background-hover);
    border-color: var(--color-tag-border-hover);
  }
}
