:root {
  /* Fonts */
  --font-primary: "Brix Sans", system-ui, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  --font-headings: "Fjalla One", sans-serif;
  --font-headings-weight: 700; /* 700 */
  --font-code: "JetBrains Mono", "Consolas", "Monaco", "Andale Mono",
    "Ubuntu Mono", monospace;
  --leading-normal: 1.45;
  --leading-medium: 1.35;
  --leading-tight: 1.15; /* 1.15 */
  --title-letter-spacing: 0.06em;

  /* Colors */
  --color-white: #fff;
  --color-neutral-0: lch(100% 0 0);
  --color-neutral-50: lch(98.2% 0 0);
  --color-neutral-100: lch(96% 0.3 200);
  --color-neutral-150: lch(90% 0.6 255);
  --color-neutral-200: lch(85.1% 1.2 255.6);
  --color-neutral-300: lch(76.5% 1.9 255.7);
  --color-neutral-400: lch(67.65% 2.4 241.3);
  --color-neutral-500: lch(57.8% 3.8 246.8);
  --color-neutral-600: lch(47.6% 4.6 248.6);
  --color-neutral-700: lch(40.4% 5.3 242.4);
  --color-neutral-800: lch(32.4% 6 237.6);
  /*--color-neutral-900: lch(23.55% 7.2 238.8);*/
  --color-neutral-900: lch(23.55% 10.9 277.6);
  /*--color-neutral-950: lch(7.9% 14.4 283.2);*/
  --color-neutral-950: lch(16.3% 13 274.6);
  --color-neutral-1000: lch(12% 14 272);

  --color-red-50: lch(98.2% 2.6 357.2);
  --color-red-100: lch(93.95% 8.6 2.7);
  --color-red-200: lch(85.1% 22.1 4.8);
  --color-red-300: lch(76.5% 36.6 7.1);
  --color-red-400: lch(67.65% 54 9.4);
  --color-red-500: lch(57.8% 76.4 17);
  --color-red-600: lch(46.7% 77.8 23.8);
  --color-red-700: lch(40.4% 68.2 23.3);
  --color-red-800: lch(32.4% 57.5 22.3);
  --color-red-900: lch(23.55% 45.7 20.9);

  --color-blue-50: lch(98.2% 2.8 231.8);
  --color-blue-100: lch(93.95% 59.2 236.9);
  --color-blue-200: lch(85.1% 22.2 240.2);
  --color-blue-300: lch(76.5% 33.5 244.7);
  --color-blue-400: lch(67.65% 43.3 253.3);
  --color-blue-500: lch(57.8% 46.9 263.2); /* #009DEC */
  --color-blue-600: lch(47.6% 39.8 262.2);
  --color-blue-700: lch(40.4% 34.5 260.7);
  --color-blue-800: lch(32.4% 29.5 260.4);
  --color-blue-900: lch(23.55% 23.2 257.9);

  --color-gold-50: lch(98.2% 7.8 96.2);
  --color-gold-100: lch(93.95% 27.4 94.1);
  --color-gold-200: lch(85.1% 69.5 87.1);
  --color-gold-300: lch(76.5% 63.5 86.3);
  --color-gold-400: lch(67.65% 57.1 85.2);
  --color-gold-500: lch(57.8% 49.6 84.5);
  --color-gold-600: lch(47.56% 42 83.4);
  --color-gold-700: lch(40.4% 36.6 83);
  --color-gold-800: lch(32.4% 30.6 81.9);
  --color-gold-900: lch(23.55% 23.6 80.7);

  --color-green-50: lch(98.2% 4.7 151);
  --color-green-100: lch(93.95% 16.9 154.2);
  --color-green-200: lch(85.1% 43.6 157.1);
  --color-green-300: lch(76.5% 67.9 156.8);
  --color-green-400: lch(67.65% 60.3 158.4);
  --color-green-500: lch(57.8% 49.8 162.3);
  --color-green-600: lch(47.6% 39.9 167.3);
  --color-green-700: lch(40.4% 33.3 172);
  --color-green-800: lch(32.4% 26.7 178);
  --color-green-900: lch(23.55% 20.9 183.1);

  --color-purple-50: lch(98.2% 2.1 271.4);
  --color-purple-100: lch(93.95% 7.3 277.2);
  --color-purple-200: lch(85.1% 18.52 284.4);
  --color-purple-300: lch(76.5% 29.5 290.9);
  --color-purple-400: lch(67.65% 41 298.5);
  --color-purple-500: lch(57.8% 54.8 308.6);
  --color-purple-600: lch(47.6% 57.9 316.2);
  --color-purple-700: lch(40.2% 50.1 320.7);
  --color-purple-800: lch(32.4% 41.7 324.5);
  --color-purple-900: lch(23.55% 32.6 328.3);

  /* Fluid type sizes */
  /* @link https://utopia.fyi/type/calculator?c=320,17,1.25,1240,21,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-m&g=s,l,xl,12 */

  --step--2: clamp(0.68rem, 0.62rem + 0.28vw, 0.84rem);
  --step--1: clamp(0.85rem, 0.78rem + 0.35vw, 1.05rem);
  --step-0: clamp(1.06rem, 0.98rem + 0.43vw, 1.31rem);
  --step-1: clamp(1.33rem, 1.22rem + 0.54vw, 1.64rem);
  --step-2: clamp(1.66rem, 1.52rem + 0.68vw, 2.05rem);
  --step-3: clamp(2.08rem, 1.91rem + 0.85vw, 2.56rem);
  --step-4: clamp(2.59rem, 2.38rem + 1.06vw, 3.2rem);
  --step-5: clamp(3.24rem, 2.98rem + 1.33vw, 4.01rem);
  --step-6: clamp(4.05rem, 3.72rem + 1.66vw, 5.01rem);
  --step-7: clamp(5.07rem, 4.65rem + 2.07vw, 6.26rem);

  /* Fluid spacing */
  /* @link https://utopia.fyi/space/calculator?c=320,17,1.25,1240,21,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-m&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.23rem + 0.11vw, 0.31rem);
  --space-2xs: clamp(0.56rem, 0.52rem + 0.22vw, 0.69rem);
  --space-xs: clamp(0.81rem, 0.75rem + 0.33vw, 1rem);
  --space-s: clamp(1.06rem, 0.98rem + 0.43vw, 1.31rem);
  --space-m: clamp(1.63rem, 1.49rem + 0.65vw, 2rem);
  --space-l: clamp(2.13rem, 1.95rem + 0.87vw, 2.63rem);
  --space-xl: clamp(3.19rem, 2.93rem + 1.3vw, 3.94rem);
  --space-2xl: clamp(4.25rem, 3.9rem + 1.74vw, 5.25rem);
  --space-3xl: clamp(6.38rem, 5.85rem + 2.61vw, 7.88rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1rem + 0.76vw, 0.69rem);
  --space-2xs-xs: clamp(0.56rem, 0.41rem + 0.76vw, 1rem);
  --space-xs-s: clamp(0.81rem, 0.64rem + 0.87vw, 1.31rem);
  --space-s-m: clamp(1.06rem, 0.74rem + 1.63vw, 2rem);
  --space-m-l: clamp(1.63rem, 1.28rem + 1.74vw, 2.63rem);
  --space-l-xl: clamp(2.13rem, 1.49rem + 3.15vw, 3.94rem);
  --space-xl-2xl: clamp(3.19rem, 2.47rem + 3.59vw, 5.25rem);
  --space-2xl-3xl: clamp(4.25rem, 2.99rem + 6.3vw, 7.88rem);

  /* Custom pairs */
  --space-s-l: clamp(1.06rem, 0.52rem + 2.72vw, 2.63rem);
  --space-s-m: clamp(1.06rem, 0.74rem + 1.63vw, 2rem);

  /* Layouts */
  --gutter: var(--space-s-m, 1rem);
  --wrapper-max-width: 1366px;

  /* Animations */
  --bezier-transition-1: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --bezier-transition-2: cubic-bezier(1, 0, 0, 1);

  /* Other */
  --rounded-corners: 0.5rem;
  --rounded-corners-small: 0.25rem;
  --shadow-none: 0px 8px 42px -8px rgba(8, 13, 26, 0);
  --shadow-light: 0px 8px 22px -12px rgba(8, 13, 26, 0.7);
  --shadow-full: 0px 8px 42px -8px rgba(8, 13, 26, 0.8);
  --paragraph-measure: 66ch;
  --paragraph-measure-short: 53ch;
}

/* Light theme */
:root[data-theme="light"] {
  color-scheme: light;

  --color-text-heading: var(--color-neutral-900);
  --color-text-heading-accent: var(--color-accent-500);
  --color-text-body: var(--color-neutral-800);
  --color-text-body-shade: var(--color-neutral-600);
  --color-text-body-accent: var(--color-accent-600);

  --color-background-body: var(--color-neutral-0);
  --color-background-shade: var(--color-neutral-50);
  --color-background-accent-light: var(--color-accent-50);
  --color-background-accent-dark: var(--color-accent-500);
  --color-background-svg-1: var(--color-neutral-0);
  --color-background-svg-2: var(--color-neutral-50);
  --color-background-svg-3: var(--color-neutral-100);

  --color-button-main-background: var(--color-accent-500);
  --color-button-main-text: var(--color-accent-50);
  --color-button-utility-background: var(--color-neutral-100);
  --color-button-utility-text: var(--color-accent-500);

  --color-link-text: inherit;
  --color-link-text-hover: var(--color-accent-600);
  --color-link-underline: var(--color-neutral-300);
  --color-link-underline-hover: var(--color-accent-500);

  --color-tag-background: var(--color-neutral-100);
  --color-tag-background-hover: var(--color-neutral-50);
  --color-tag-background-active: var(--color-accent-500);
  --color-tag-text: inherit;
  --color-tag-text-hover: var(--color-accent-600);
  --color-tag-text-active: var(--color-accent-50);
  --color-tag-border: transparent;
  --color-tag-border-hover: var(--color-neutral-150);
  --color-tag-border-active: transparent;

  --color-selection-active: color-mix(
    in lch,
    var(--color-accent-100),
    transparent 30%
  );

  --color-overlay-1: var(--color-accent-500);
  --color-overlay-2: var(--color-accent-300);
  --color-overlay-text: var(--color-neutral-0);

  --color-border: var(--color-neutral-150);
  --color-border-accent: var(--color-accent-500);
  --color-border-accent-light: var(--color-accent-300);

  --color-code-background: var(--color-neutral-50);
  --background-element-opacity: 60%;

  --color-icon: var(--color-accent-500);

  /*--color-text-heading: var(--color-neutral-900);
  --color-text-body: var(--color-neutral-800);
  --color-text-body-shade: var(--color-neutral-700);
  --color-text-link: var(--color-red-600);
  --color-text-emphasis: var(--color-red-500);
  --color-text-emphasis-light: var(--color-red-300);
  --color-text-link-underline: var(--color-neutral-300);
  --color-light-accent: var(--color-red-50);
  --color-light-border: var(--color-neutral-150);
  --color-background-0: var(--color-neutral-0);
  --color-background-1: var(--color-neutral-50);
  --color-background-shade: var(--color-neutral-100);
  --color-background-2: var(--color-neutral-500);
  --color-background-3: var(--color-neutral-800);
  --background-element-opacity: 0.5;*/
}

/* Dark theme */
:root[data-theme="dark"] {
  color-scheme: dark;

  --color-text-heading: var(--color-neutral-100);
  --color-text-heading-accent: var(--color-accent-400);
  --color-text-body: var(--color-neutral-300);
  --color-text-body-shade: var(--color-neutral-400);
  --color-text-body-accent: var(--color-accent-300);

  --color-background-body: var(--color-neutral-1000);
  --color-background-shade: var(--color-neutral-900);
  --color-background-accent-light: color-mix(
    in srgb,
    var(--color-accent-900),
    transparent 75%
  );
  --color-background-accent-dark: var(--color-accent-800);
  --color-background-svg-1: var(--color-neutral-1000);
  --color-background-svg-2: var(--color-neutral-950);
  --color-background-svg-3: var(--color-neutral-900);

  --color-button-main-background: var(--color-accent-800);
  --color-button-main-text: var(--color-accent-200);
  --color-button-utility-background: var(--color-neutral-900);
  --color-button-utility-text: var(--color-accent-400);

  --color-link-text: inherit;
  --color-link-text-hover: var(--color-accent-400);
  --color-link-underline: var(--color-neutral-500);
  --color-link-underline-hover: var(--color-accent-500);

  --color-tag-background: var(--color-neutral-950);
  --color-tag-background-hover: var(--color-neutral-1000);
  --color-tag-background-active: var(--color-accent-400);
  --color-tag-text: var(--color-neutral-400);
  --color-tag-text-hover: var(--color-neutral-200);
  --color-tag-text-active: var(--color-accent-900);
  --color-tag-border: var(--color-neutral-900);
  --color-tag-border-hover: var(--color-neutral-900);
  --color-tag-border-active: transparent;

  --color-selection-active: color-mix(
    in lch,
    var(--color-accent-400),
    transparent 30%
  );

  --color-overlay-1: var(--color-accent-700);
  --color-overlay-2: var(--color-accent-400);
  --color-overlay-text: var(--color-neutral-200);

  --color-border: var(--color-neutral-900);
  --color-border-accent: var(--color-accent-400);
  --color-border-accent-light: var(--color-accent-800);

  --color-code-background: var(--color-neutral-950);
  --background-element-opacity: 10%;

  --color-icon: var(--color-accent-400);

  /*--color-text-heading: var(--color-neutral-100);
  --color-text-body: var(--color-neutral-300);
  --color-text-body-shade: var(--color-neutral-400);
  --color-text-link: var(--color-red-400);
  --color-text-emphasis: var(--color-red-400);
  --color-text-emphasis-light: var(--color-red-600);
  --color-text-link-underline: var(--color-netural-800);
  --color-light-border: var(--color-neutral-900);
  --color-background-0: var(--color-neutral-1000);
  --color-background-1: var(--color-neutral-950);
  --color-background-shade: var(--color-netural-900);
  --color-background-2: var(--color-neutral-500);
  --color-background-3: var(--color-neutral-50);
  --background-element-opacity: 0.35;*/
}

/* Accent themes */
:root[data-accent="printers-red"] {
  --color-accent-50: var(--color-red-50);
  --color-accent-100: var(--color-red-100);
  --color-accent-200: var(--color-red-200);
  --color-accent-300: var(--color-red-300);
  --color-accent-400: var(--color-red-400);
  --color-accent-500: var(--color-red-500);
  --color-accent-600: var(--color-red-600);
  --color-accent-700: var(--color-red-700);
  --color-accent-800: var(--color-red-800);
  --color-accent-900: var(--color-red-900);
}

:root[data-accent="dodger-blue"] {
  --color-accent-50: var(--color-blue-50);
  --color-accent-100: var(--color-blue-100);
  --color-accent-200: var(--color-blue-200);
  --color-accent-300: var(--color-blue-300);
  --color-accent-400: var(--color-blue-400);
  --color-accent-500: var(--color-blue-500);
  --color-accent-600: var(--color-blue-600);
  --color-accent-700: var(--color-blue-700);
  --color-accent-800: var(--color-blue-800);
  --color-accent-900: var(--color-blue-900);
}

:root[data-accent="sun-gold"] {
  --color-accent-50: var(--color-gold-50);
  --color-accent-100: var(--color-gold-100);
  --color-accent-200: var(--color-gold-200);
  --color-accent-300: var(--color-gold-300);
  --color-accent-400: var(--color-gold-400);
  --color-accent-500: var(--color-gold-500);
  --color-accent-600: var(--color-gold-600);
  --color-accent-700: var(--color-gold-700);
  --color-accent-800: var(--color-gold-800);
  --color-accent-900: var(--color-gold-900);
}

:root[data-accent="malachite-green"] {
  --color-accent-50: var(--color-green-50);
  --color-accent-100: var(--color-green-100);
  --color-accent-200: var(--color-green-200);
  --color-accent-300: var(--color-green-300);
  --color-accent-400: var(--color-green-400);
  --color-accent-500: var(--color-green-500);
  --color-accent-600: var(--color-green-600);
  --color-accent-700: var(--color-green-700);
  --color-accent-800: var(--color-green-800);
  --color-accent-900: var(--color-green-900);
}

:root[data-accent="mallow-purple"] {
  --color-accent-50: var(--color-purple-50);
  --color-accent-100: var(--color-purple-100);
  --color-accent-200: var(--color-purple-200);
  --color-accent-300: var(--color-purple-300);
  --color-accent-400: var(--color-purple-400);
  --color-accent-500: var(--color-purple-500);
  --color-accent-600: var(--color-purple-600);
  --color-accent-700: var(--color-purple-700);
  --color-accent-800: var(--color-purple-800);
  --color-accent-900: var(--color-purple-900);
}
