{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.vto", "*.njk"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
