.about {
  &.content-wrapper {
    --wrapper-max-width: 1280px;
  }
}

:is(.about, .links) {
  & .has-sidebar {
    padding-block-start: var(--space-2xl);
    --sidebar-min-width: 30rem;
    --sidebar-gap: var(--space-2xl);
  }

  & .rich-content {
    & :is(li) {
      margin-block-start: var(--space-2xs);
    }
  }

  & .sidebar {
    & img {
      position: relative;
      border-radius: 999px;
      width: 12rem;
      height: 12rem;

      &::before {
        content: "";
        visibility: hidden;
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: var(--color-icon);
      }
    }
  }
}

.links {
  & header {
    padding-block-start: var(--space-2xl);

    & .rich-content {
      max-width: var(--paragraph-measure);
    }
  }

  & .sidebar {
    & .heading {
      font-size: var(--step-1);
      margin-block-end: var(--space-s);
    }

    & .button-link {
      font-size: var(--step--1);
      gap: 0.25rem;
      margin-block-start: var(--space-l);

      & svg {
        color: currentColor;
        position: relative;
        top: 0;
      }
    }
  }

  & .filters {
    position: sticky;
    top: 1rem;
    padding-block-start: 1.5rem;
  }

  & .grid {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: var(--space-xl);
    margin-block-start: var(--space-xl);

    & #entries {
      display: grid;
      grid-template-columns: 1fr;
      /* grid-template-columns: repeat(3, 1fr); */
      /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
      gap: var(--space-s);
      height: fit-content;

      & article {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-m);
        position: relative;
        border-radius: var(--rounded-corners-small);
        border: 1px solid transparent;
        padding: var(--space-s);
        max-width: 48ch;
        transition: all 0.2s ease;
        animation: 0.3s ease fade-in;

        &:hover {
          border-color: var(--color-border-accent-light);
        }

        & .category {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          padding: 0;
          position: relative;
          left: -3px;
          /* position: absolute;
          top: 0.5rem;
          right: 0.5rem; */
          margin: 0;
          font-size: var(--step--2);
          background: none;
          border-color: transparent;

          & svg {
            color: var(--color-icon);
            position: relative;
            top: -1px;
          }

          &:hover {
            border-color: transparent;
          }
        }

        & .text {
          & > * + * {
            margin-block-start: 0.75rem;
          }

          & a {
            font-family: var(--font-headings);
            font-weight: var(--font-headings-weight);
            display: inline-block;
            width: fit-content;
          }

          & p {
            font-size: var(--step-0);
            text-wrap: pretty;
          }

          & img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 999px;
            object-fit: cover;
            aspect-ratio: 1/1;
          }
        }

        & details {
          font-size: var(--step--2);
          font-family: var(--font-code);

          & summary {
            width: fit-content;
            cursor: pointer;

            &:hover {
              color: var(--color-link-text-hover);
            }
          }

          & .details-pane {
            padding: 0.75rem;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            & > .cluster {
              align-items: center;
              gap: 0.75rem;

              /* tags */
              & .cluster {
                align-items: center;
                position: relative;
                top: 1px;
              }
            }

            & .tag {
              font-size: var(--step--2);
            }
          }
        }

        & .cluster {
          align-items: end;
        }
      }

      & .empty {
        padding-block-start: var(--space-s);
        font-style: italic;
      }
    }
  }

  & form {
    --form-space: var(--space-2xs);
    --flow-space: var(--space-m);

    & .small-title {
      margin-block-end: var(--form-space);
    }

    & .form-check {
      font-size: var(--step--1);
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.25rem 0.5rem;
      width: fit-content;
      border-radius: var(--rounded-corners-small);
      cursor: pointer;
      background-color: var(--color-link-filter-background);
      color: var(--color-link-filter-text);
      border: 1px solid var(--color-link-filter-border);
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--color-link-filter-background-hover);
        color: var(--color-link-filter-text-hover);
        border-color: var(--color-link-filter-border-hover);
      }

      &:has(input[type="checkbox"]:checked) {
        background-color: var(--color-link-filter-background-active);
        color: var(--color-link-filter-text-active);
        border-color: var(--color-link-filter-border-active);
      }

      & input[type="checkbox"] {
        order: -1;
        cursor: pointer;
        accent-color: var(--color-icon);
      }

      & label {
        cursor: pointer;
      }
    }

    & select {
      margin-block-start: var(--form-space);
      display: block;
      font-size: var(--step--1);
      padding: 0.3rem 0.5rem 0.45rem 0.35rem;
      background: var(--color-link-filter-background);
      border: 1px solid var(--color-link-filter-border);
      border-radius: var(--rounded-corners-small);
      width: 100%;
      max-width: 15rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--color-link-filter-background-hover);
      }
    }

    & .filter-categories {
      & > * + * {
        margin-block-start: var(--form-space);
      }

      & label {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }

  & .flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--form-space);
  }

  & .filters-mobile {
    display: none;

    & details {
      & > div {
        padding-block-start: var(--space-m);
      }
    }
  }
}

:root[data-theme="dark"] {
  .about {
    & .sidebar {
      & img {
        filter: saturate(0);
        opacity: 0.8;
        mix-blend-mode: multiply;

        &::before {
          visibility: visible;
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@container contentWrapper (max-width: 999px) {
  .about {
    & .sidebar {
      order: -1;
    }
  }

  /* .links {
    & .grid {
      grid-template-columns: 1fr;
    }
  } */
}

@container contentWrapper (max-width: 768px) {
  :is(.about, .links) {
    & .has-sidebar {
      --sidebar-gap: var(--space-m);
    }
  }

  .links {
    & .grid {
      grid-template-columns: 1fr;

      & #entries {
        gap: var(--space-xl);

        & article {
          padding: 0;
          border: 0;

          &:hover {
            border: 0;
          }
        }
      }
    }

    & .filters {
      display: none;
    }

    & .filters-mobile {
      display: block;
    }
  }
}

@container contentWrapper (max-width: 640px) {
  .links {
    & .grid {
      & #entries {
        grid-template-columns: 1fr;
      }
    }
  }
}
