h1 {
  margin-block-start: var(--space-2xl);
  margin-block-end: var(--space-xl);
  font-size: var(--step-3);

  & > span {
    color: var(--color-text-heading-accent);
  }
}

.has-sidebar {
  --sidebar-gap: var(--space-l);
  --main-min-width: 58%;

  & > :first-child {
    position: relative;

    /*&::after {
      content: "";
      background: var(--color-light-border);
      right: calc(((var(--space-xl) * -1) / 2) - 2px);
      width: 1px;
      height: calc(100%);
      position: absolute;
      top: 0;
    }*/
  }
}

.sidebar {
  position: sticky;
  overflow: hidden;
  place-self: flex-start;
  top: var(--space-m);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-corners-small);
  padding: var(--space-s);

  &.flow {
    --flow-space: var(--space-m);
  }

  & .small-title {
    font-size: var(--step--2);
  }

  & > *:not(:last-child, div:last-of-type, .button-link) {
    border-block-end: 1px solid var(--color-border);
    padding-block-end: calc(var(--space-m) + 0.25rem);
  }
}

.categories {
  & .tag-list {
    &.cluster {
      --cluster-space: 1rem;
    }

    & a[data-selected-page="selected"] {
      color: var(--color-tag-text-active);
      background-color: var(--color-tag-background-active);
      border-color: var(--color-tag-border-active);

      &:hover {
        background-color: color-mix(
          in lch,
          var(--color-tag-background-active) 80%,
          black
        );
      }
      /*color: var(--color-text-emphasis);
      text-decoration-color: transparent;
      font-weight: 900;*/
    }
  }
}

.tags {
  & .tag-list {
    & a[data-selected-page="selected"] {
      color: var(--color-tag-text-active);
      background-color: var(--color-tag-background-active);
      border-color: var(--color-tag-border-active);

      &:hover {
        background-color: color-mix(
          in lch,
          var(--color-tag-background-active) 80%,
          black
        );
      }
    }
  }
}

.trending {
  & ol {
    padding-inline-start: 1rem;
    margin-block-start: var(--space-xs);

    &.flow {
      --flow-space: 1rem;
    }
  }

  & li {
    font-size: var(--step--1);

    &::marker {
      font-weight: 900;
      color: var(--color-icon);
      font-size: 0.85em;
    }
  }

  & a {
    text-wrap: balance;
    margin-block-start: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--color-link-underline-hover);
    }
  }
}

.pagination {
  margin-block-start: var(--space-l);

  & > span {
    font-size: var(--step--1);
  }

  & .tag.cluster {
    --cluster-space: 4px;
  }
}

.archive {
  margin-inline-start: -0.75rem;
  gap: 1.5rem;

  & details[open] {
    & summary {
      border-left: 1px solid var(--color-border-accent);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      /*background-color: var(--color-button-main-background);

      & h2 {
        color: var(--color-button-main-text);
      }*/
    }

    & svg {
      color: var(--color-icon);
      transform: rotate(90deg);
    }
  }

  & details:not([open]) {
    & summary {
      &:hover svg {
        color: var(--color-icon);
        transform: translateX(3px);
      }
    }
  }

  & summary {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: var(--rounded-corners-small);
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--color-tag-background);
    }

    /*&:hover svg {
      color: var(--color-text-emphasis);
      transform: translateX(3px);
    }*/

    & svg {
      position: relative;
      top: 2px;
      transition: all 0.2s ease;
    }

    & h2 {
      font-size: var(--step-2);
    }
  }

  & .expanded-posts {
    position: relative;
    padding: var(--space-s);
    border-left: 1px solid var(--color-border-accent);

    & .count {
      font-style: italic;
      padding-inline: 0.5rem;
      margin-block-end: var(--space-2xs);
      color: var(--color-text-heading-accent);
    }
  }
}

.post-list-simple {
  border-spacing: 0;
  border-color: none;

  & tr {
    display: grid;
    grid-template-columns: 0.75fr 3.25fr 1fr;
    gap: var(--space-m);
    padding-block: 0.75rem 1rem;
    padding-inline: 0.5rem;
    border-radius: var(--rounded-corners-small);
    align-items: baseline;

    & h3 {
      font-family: var(--font-headings);
      font-weight: var(--font-headings-weight);
      line-height: var(--leading-medium);
      font-size: var(--step-0);
      position: relative;
      top: 3px;
      padding-right: 2rem;
    }

    & > *:not(h3) {
      font-size: var(--step--1);
    }

    & td {
      vertical-align: top;
    }

    &:hover {
      background-color: var(--color-background-accent-light);
    }
  }
}

@container contentWrapper (max-width: 768px) {
  .post-list-simple {
    & tr {
      grid-template-columns: 4fr 1fr;
      gap: 3px;

      & > :first-child {
        grid-column: 1 / 3;
      }
    }
  }
}
