h1 {
  margin-block: var(--space-l);

  & > span {
    color: var(--color-text-emphasis);
  }
}

.sidebar {
  position: sticky;
  place-self: flex-start;
  top: var(--space-m);

  &.flow {
    --flow-space: var(--space-l);
  }
}

.categories {
  & .tag-list {
    &.cluster {
      --cluster-space: 1rem;
    }

    & a[data-selected-page="selected"] {
      color: var(--color-text-emphasis);
      text-decoration-color: transparent;
      font-weight: 900;
    }
  }
}

.tags {
  & .tag-list {
    & a[data-selected-page="selected"] {
      color: white;
      background-color: var(--color-text-emphasis);

      &:hover {
        background-color: color-mix(
          in lch,
          var(--color-text-emphasis) 80%,
          black
        );
      }
    }
  }
}

.trending {
  & ol {
    padding-inline-start: 1.5rem;
    margin-block-start: var(--space-2xs);

    &.flow {
      --flow-space: 1rem;
    }
  }

  & li {
    font-size: var(--step--1);

    &::marker {
      font-weight: 900;
      color: var(--color-text-emphasis);
      font-size: 0.85em;
    }
  }

  & a {
    text-wrap: balance;
    margin-block-start: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--color-text-emphasis);
    }
  }
}
