h1 {
  margin-block-start: var(--space-2xl);
  margin-block-end: var(--space-xl);
  font-size: var(--step-4);

  & > span {
    color: var(--color-text-emphasis);
  }
}

.has-sidebar {
  --sidebar-gap: var(--space-xl);

  & > :first-child {
    position: relative;

    /*&::after {
      content: "";
      background: var(--color-light-border);
      right: calc(((var(--space-xl) * -1) / 2) - 2px);
      width: 1px;
      height: calc(100%);
      position: absolute;
      top: 0;
    }*/
  }
}

.sidebar {
  position: sticky;
  place-self: flex-start;
  top: var(--space-m);
  border: 1px solid var(--color-light-border);
  border-radius: var(--rounded-corners-small);
  padding: var(--space-s);

  &.flow {
    --flow-space: var(--space-l);
  }

  & .small-title {
    font-size: var(--step--2);
  }
}

.categories {
  & .tag-list {
    &.cluster {
      --cluster-space: 1rem;
    }

    & a[data-selected-page="selected"] {
      color: white;
      background-color: var(--color-text-emphasis);

      &:hover {
        background-color: color-mix(
          in lch,
          var(--color-text-emphasis) 80%,
          black
        );
      }
      /*color: var(--color-text-emphasis);
      text-decoration-color: transparent;
      font-weight: 900;*/
    }
  }
}

.tags {
  & .tag-list {
    & a[data-selected-page="selected"] {
      color: white;
      background-color: var(--color-text-emphasis);

      &:hover {
        background-color: color-mix(
          in lch,
          var(--color-text-emphasis) 80%,
          black
        );
      }
    }
  }
}

.trending {
  & ol {
    padding-inline-start: 1rem;
    margin-block-start: var(--space-xs);

    &.flow {
      --flow-space: 1rem;
    }
  }

  & li {
    font-size: var(--step--1);

    &::marker {
      font-weight: 900;
      color: var(--color-text-emphasis);
      font-size: 0.85em;
    }
  }

  & a {
    text-wrap: balance;
    margin-block-start: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--color-text-emphasis);
    }
  }
}

.archive {
  margin-inline-start: -0.75rem;
  gap: 1.5rem;

  & details[open] {
    & summary {
      background-color: var(--color-background-1);
    }

    & svg {
      color: var(--color-text-emphasis);
      transform: rotate(90deg);
    }
  }

  & details:not([open]) {
    & summary {
      &:hover svg {
        color: var(--color-text-emphasis);
        transform: translateX(3px);
      }
    }
  }

  & summary {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: var(--rounded-corners-small);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-background-1);
    }

    /*&:hover svg {
      color: var(--color-text-emphasis);
      transform: translateX(3px);
    }*/

    & svg {
      position: relative;
      top: 2px;
      transition: all 0.2s ease;
    }

    & h2 {
      font-size: var(--step-2);
    }
  }

  & .expanded-posts {
    padding: var(--space-s);
    border-radius: var(--rounded-corners-small);
    background-color: var(--color-background-1);
  }
}

.post-list-simple {
  border-spacing: 0;
  border-color: none;

  & tr {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-block: 0.75rem 1rem;
    padding-inline: 0.5rem;
    border-radius: var(--rounded-corners-small);

    & h3 {
      font-size: var(--step-0);
      position: relative;
      top: 3px;
    }

    & td {
      vertical-align: top;
    }

    &:hover {
      background-color: var(--color-background-0);
    }
  }
}
