article {
  padding-block-end: var(--space-xl);

  & > * {
    padding-block-start: var(--space-2xl);
  }

  &.content-wrapper {
    --wrapper-max-width: 1280px;

    & > :first-child {
      position: relative;

      &::after {
        content: "";
        background: var(--color-border);
        /* Add 3px for optical balance */
        right: calc(((var(--space-xl) * -1) / 2) - 3px);
        width: 1px;
        height: calc(100% + var(--space-xl));
        position: absolute;
        top: 0;
      }
    }
  }

  & h1 {
    text-wrap: balance;
    line-height: var(--leading-medium);
    margin-block-end: var(--space-m);
  }

  & header {
    & > p:last-of-type {
      font-style: italic;
      margin-block-start: var(--space-m);
    }
  }

  & .paragraph-measure {
    --paragraph-measure: 57ch;

    & .rich-content {
      padding-inline-end: 1rem;
    }
  }
}

.featured-img {
  margin-block-start: var(--space-l);
  margin-block-end: var(--space-m);
}

.has-sidebar {
  --sidebar-gap: var(--space-xl);
}

.post-info {
  font-size: var(--step-0);

  &.cluster {
    --cluster-space: 1.25rem;
  }
}

.sidebar {
  &.flow {
    --flow-space: var(--space-l);
  }

  & .small-title {
    font-size: var(--step--2);
  }

  .return {
    &.cluster {
      --cluster-space: 0.5rem;
    }
  }

  & ul {
    margin-block-start: var(--space-2xs);
  }

  & .tag-list {
    &.cluster {
      --cluster-space: 0.7rem;
    }
  }

  & .sticky {
    top: var(--space-l);
    place-self: flex-start;
  }

  & .toc-nav {
    max-width: 20rem;

    & ul.level-3 {
      margin-block: 0;
      padding-inline-start: 0.75rem;
    }

    & a[aria-current="true"] {
      background: var(--color-tag-background);
    }

    & .toc-link {
      font-size: var(--step--1);
      display: block;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      text-decoration-color: transparent;
      transition: all 0.2s ease;

      &:hover {
        text-decoration-color: var(--color-link-underline-hover);
      }

      &.active {
        background: var(--color-tag-background);
      }
    }

    & + div {
      margin-block-start: var(--space-l);
    }
  }
}

:is(#content, #content :is(h2, h3)) {
  scroll-margin: 2rem;
}

.post-navigation {
  --wrapper-max-width: 1280px;
  position: relative;
  padding-block: var(--space-xl);
  margin-block-end: calc(var(--space-xl) * -1);
  /*border-top: 1px solid var(--color-light-border);*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--space-2xl);
  row-gap: var(--space-m);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-border),
      var(--color-border),
      transparent
    );
  }

  & > * {
    max-width: 35ch;
  }

  & > :last-child {
    --cluster-justify: flex-end;
    place-self: end;
    text-align: right;
  }

  & .cluster {
    --cluster-space: 0.25rem;
  }

  & svg {
    color: var(--color-icon);
  }

  & .nav-heading {
    font-size: var(--step--1);
    color: var(--color-text-body-shade);
  }

  & .link {
    text-wrap: balance;
    margin-block-start: 0.5rem;
    font-family: var(--font-headings);
    font-weight: var(--font-headings-weight);
    line-height: var(--leading-medium);
    text-decoration-color: transparent;
    display: inline-block;
  }
}

.mobile-toc {
  display: none;
  padding-block: var(--space-m);
  position: sticky;
  top: 0;
  font-weight: var(--font-headings-weight);
  background: var(--color-background-body);
  margin-inline: calc(var(--gutter) * -1);
  padding-inline: var(--gutter);
  z-index: 50;
  border-bottom: 1px solid var(--color-border);

  & ul {
    padding-block-start: 1rem;
    font-weight: 400;

    &.flow {
      --flow-space: 0.75rem;
    }
  }

  & .level-3 {
    padding-inline-start: 1rem;
  }
}

/* Post like */
.post-like-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  font-size: var(--step--1);
  margin-block-start: var(--space-2xs);
  padding: 0.35rem 0.75rem 0.35rem 0.5rem;
  background: none;
  line-height: 1.15;
  border-radius: var(--rounded-corners-small);
  cursor: pointer;
  border: 1px solid var(--color-border);
  transition: all 0.2s ease-in-out;

  /* & #count {
    animation: 0.2s linear fade-up;
  } */

  &:hover {
    background-color: var(--color-tag-background-hover);
  }

  & svg {
    transition: all 0.2s ease-in-out;
  }

  &:hover svg {
    color: var(--color-tag-background-active);
  }

  &.active svg {
    fill: var(--color-icon);
    color: var(--color-icon);
  }

  &.htmx-added #count {
    animation: 0.2s linear fade-up;
  }

  &.htmx-added svg {
    animation: 0.4s ease pop-in;
  }
}

.post-like-button + #message {
  font-size: var(--step--1);
  margin-block-start: var(--space-3xs);
  font-style: italic;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0.9);
  }

  35% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.book-list {
  &.featured {
    display: inline-block;

    & img {
      max-width: 16rem;
    }
  }

  & .title {
    font-family: var(--font-headings);
    line-height: var(--leading-medium);
    font-weight: var(--font-headings-weight);
    font-size: var(--step--1);
  }
}

/* For post /posts/notes/new-site-design-for-2024 */
#color-schemes {
  --item-min-width: 6rem;
  margin-top: var(--element-spacing);

  & > * {
    align-items: center;
    text-align: center;
    position: relative;
    gap: 0.75rem;

    &:hover::before {
      background-color: color-mix(in srgb, var(--circle-color), black 15%);
    }

    &::before {
      content: "";
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--circle-color);
      border-radius: 999px;
    }
  }
}

/* @media (max-width: 999px) {
  .mobile-toc {
    display: block;
  }

  .toc-nav {
    display: none;
  }

  :is(#content, #content :is(h2, h3)) {
    scroll-margin: 6rem;
  }
} */

@container contentWrapper (max-width: 950px) {
  article {
    &.content-wrapper {
      & > :first-child::after {
        display: none;
      }
    }
  }

  .mobile-toc {
    display: block;
  }

  .toc-nav {
    display: none;
  }

  :is(#content, #content :is(h2, h3)) {
    scroll-margin: 6rem;
  }
}

@container contentWrapper (max-width: 768px) {
  .post-info {
    &.cluster {
      --cluster-space: 0.75rem;
    }
  }

  article {
    & .paragraph-measure {
      max-width: none;

      & .rich-content {
        padding-inline: 0;
      }
    }

    & > :last-child {
      padding-block-start: 0;
    }
  }
}
