h1 {
  margin-block-start: var(--space-2xl);
  margin-block-end: var(--space-xl);
  font-size: var(--step-4);
  text-align: center;

  & span {
    color: var(--color-text-heading-accent);
  }
}

.project-filter {
  --cluster-justify: center;
  margin-block-start: calc(var(--space-m) * -1);
  margin-block-end: var(--space-xl);

  & .category {
    padding-right: 0.65rem;
    &.cluster {
      --cluster-space: 6px;
    }

    &[data-selected-page="selected"] {
      color: var(--color-tag-text-active);
      background-color: var(--color-tag-background-active);
      border-color: var(--color-tag-border-active);

      &:hover {
        background-color: color-mix(
          in lch,
          var(--color-tag-background-active) 80%,
          black
        );
      }
    }
  }
}
