article {
  padding-block-end: var(--space-xl);
  margin-block-end: calc(var(--space-xl) * -1);

  & h1 {
    line-height: var(--leading-medium);
    font-size: var(--step-3);
  }

  & > :first-child {
    margin-block-start: var(--space-3xl);
  }
}

.return {
  &.cluster {
    --cluster-space: 0.5rem;
  }
}

.intro {
  &.has-sidebar {
    --main-min-width: 45%;
    --sidebar-min-width: 20rem;
    --sidebar-gap: var(--space-xl);
  }

  & header {
    & > :first-child {
      &.small-title {
        color: var(--color-text-heading);
        /* margin-block-end: var(--space-2xs); */
      }

      & span {
        color: var(--color-icon);
      }
    }

    /* &.cluster {
      --cluster-justify: space-between;
    } */
  }

  & .emphasis {
    font-size: var(--step-1);
  }

  & .info {
    --border-color: var(--color-light-border);
    position: relative;
    overflow: hidden;
    /*place-self: flex-start;
    background: linear-gradient(
        to right,
        color-mix(in lch, var(--color-background-body), transparent 90%),
        color-mix(in lch, var(--color-background-body), transparent 20%)
      ),
      url("/geometric-bg.svg") no-repeat center / cover,
      var(--color-background-body);*/
    /*margin-inline: calc((var(--gutter) * -1) - 0.5px);*/
    margin-block-start: var(--space-s);
    padding: var(--space-m);
    border: 1px solid var(--color-border);
    border-radius: var(--rounded-corners);
    box-shadow: 0 8px 24px
      color-mix(in lch, var(--color-background-accent-dark), transparent 95%);

    &.flow {
      gap: 1rem;
    }

    & .small-title {
      font-size: var(--step--2);
      font-weight: var(--font-headings-weight);
    }

    /*&::after {
      content: "";
      border-radius: var(--rounded-corners);
      z-index: -1;
      background: var(--color-border);
      margin: -1px;
      position: absolute;
      inset: 0;
    }*/

    & .flow {
      --flow-space: 3px;
    }

    & p:last-child {
      font-size: var(--step--1);
    }
  }

  & .responsive-grid {
    --item-min-width: 8rem;
    display: flex;

    & > * {
      flex-basis: 15%;
    }

    & > :last-child {
      flex-grow: 1;
    }
  }
}

.categories {
  font-size: var(--step--1);
  position: relative;
  top: -1px;

  &.cluster {
    --cluster-space: 0.75rem;
    --cluster-justify: flex-start;
    --cluster-align: center;
  }

  & span {
    display: inline-flex;
    gap: 4px;
  }

  & svg {
    color: var(--color-icon);
  }
}

.featured-img {
  border-radius: var(--rounded-corners);
  margin-block-start: var(--space-s);
}

.summary {
  font-family: var(--font-headings);
  margin-block-start: var(--space-s);
  margin-block-end: var(--space-2xs);
}

.content {
  max-width: var(--paragraph-measure-short);
  margin-inline: auto;
  padding-block-end: var(--space-xl);
}

.project-navigation {
  --wrapper-max-width: 1280px;
  position: relative;
  padding-block: var(--space-xl);
  margin-block-end: calc(var(--space-xl) * -1);
  /*border-top: 1px solid var(--color-light-border);*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--space-2xl);
  row-gap: var(--space-m);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-border),
      var(--color-border),
      transparent
    );
  }

  & > * {
    max-width: 35ch;
  }

  & > :last-child {
    --cluster-justify: flex-end;
    place-self: end;
    text-align: right;
  }

  & .cluster {
    --cluster-space: 0.25rem;
  }

  & svg {
    color: var(--color-icon);
  }

  & .nav-heading {
    font-size: var(--step--1);
    color: var(--color-text-body-shade);
  }

  & .link {
    text-wrap: balance;
    margin-block-start: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
    text-decoration-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: var(--space-s);

    & .img-wrapper {
      display: block;
      position: relative;
    }

    & .link-background {
      content: "";
      background: linear-gradient(
        to bottom right,
        var(--color-overlay-1),
        var(--color-overlay-2)
      );
      z-index: -1;
      opacity: 0;
      border-radius: 7px;
      transition: all 0.2s;
      position: absolute;
      inset: -0.25rem;
      transform: scale(0.85);
    }

    & img {
      width: 14rem;
      border-radius: var(--rounded-corners-small);
      aspect-ratio: 9/6;
      object-fit: cover;
      transition: all 0.2s;
    }

    &[rel="prev"] {
      & > :first-child {
        order: 2;
      }
    }

    &:hover .link-background {
      opacity: 1;
      transform: scale(1);
    }

    &:hover img {
      opacity: 0.5;
    }
  }
}

@container contentWrapper (max-width: 768px) {
  article {
    & > :first-child {
      margin-block-start: var(--space-2xl);
    }
  }

  .content {
    padding-block-end: 0;
  }
}
