<!DOCTYPE html>
<html lang="en" data-theme="light" data-accent="printers-red">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="preload"
      href="/fonts/Brix-Sans-Web-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Brix-Sans-Web-Regular-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Brix-Sans-Web-Black.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/FjallaOne-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="icon" type="image/jpg" href="/favicon.jpg" />
    <link rel="stylesheet" href="/styles/critical.css" inline />
    <link rel="stylesheet" href="/styles/main.css" />
    {{ if it.page_css }}
    <link rel="stylesheet" href="/styles/pages/{{ page_css }}" />
    {{ /if }}
    <link rel="sitemap" href="/sitemap.xml" />
    <script src="/js/defaultTheme.js" inline></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    {{ if it.page_script }}
    <script src="/js/{{ page_script }}" type="module"></script>
    {{ /if }}
  </head>
  <body>
    {{ include "partials/site-header.vto" }}
    <main>{{ content }}</main>
    {{ include "partials/site-footer.vto" }}
    <script src="/js/themeToggle.js" async></script>
    <script src="/js/accentToggle.js" async></script>
  </body>
</html>
