---
layout: layouts/base.vto
page_css: about.css
---

<article class="links | content-wrapper">
  <div class="has-sidebar">
    <div>
      <h1>{{ title }}</h1>
      <div class="rich-content with-intro-text">{{ content }}</div>
    </div>
    <div class="sidebar | flow"></div>
  </div>
</article>
