<ul class="post-list-simple | flow" role="list">
  {{ for post of entry }}
  <li>
    <article class="flow">
      <div class="eyebrow | cluster">
        <time>{{ post.date |> readableDate }}</time> in
        <a href="/posts/{{ post.category }}/"
          >{{ post.category |> capitalizeFirst }}</a
        >
      </div>
      <h3 class="mt-2">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>
    </article>
  </li>
  {{ /for }}
</ul>
