<ul class="cluster social" role="list">
  {{ for item of social }}
  <li>
    <a href="{{ item.url }}" title="{{ item.name }}" target="_blank"
      >{{ item.icon }}</a
    >
  </li>
  {{ /for }}
</ul>
