<aside class="subscribe">
  <div class="content-wrapper responsive-grid">
    <div class="flow">
      <h2>Subscribe for updates.</h2>
      <p>
        Get these posts and other updates by email in my newsletter, “A Partial
        Summing Up”.
      </p>
    </div>
    <div>
      <form class="form" action="">
        <input type="email" /><input type="submit" value="Subscribe" />
      </form>
    </div>
  </div>
</aside>
